/* reservation-form.component.css */
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body{
    margin: 0px;
    padding: 0px;
    background: #1A453C;
}
.form-container {
  background: #1A453C;
  padding: 10px;
  padding-left: 10px;
  height: 100vh;
  width: 100vw;

}

@media screen and (min-width: 768px) {
  .form-container {
    overflow: hidden;
  }
}

/* Adjust form width and add some spacing */
form {
  margin: 0 auto;
}

/* Add margin between form groups */
.form-group {
  margin-bottom: 1.5rem;
}

button {
  width: 100%;
  background: #DFD051;
  color: #1A453C;
  border-color: #DFD051;
}

button:hover {
  background: #1A453C;
  color: #FFFFFF;
  border: 1px;
}

nz-select {
  width: 100%;
}

nz-card {
  background: #1A453C;
  color: #FFFFFF;
  width: 100%;
}

h5 {
  background-color: black;
  color: #FFFFFF;
  margin-left: 10px;
  margin-right: 15px;
  padding: 5px 15px;
  border-radius: 5px;
}

code {
  color: #DFD051;
}

[nz-carousel-content] {
  text-align: center;
  height: 155px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  padding-top: 200px;
  user-select: none;
}

img {
  border-radius: 5px;
}