<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a  class="logo d-flex align-items-center me-auto me-lg-0">
       
        <h1>BookBite<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#chefs">Chefs</a></li> 
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>

        

      <a class="btn-book-a-table" href="#book-a-table">Book a Table</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Enjoy Food, Enjoy Life!</h2>
          <p data-aos="fade-up" data-aos-delay="100">A full-service fine dining establishment where you can sample and enjoy authentic and organic cuisine with just simple step reservation.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#book-a-table" class="btn-book-a-table">Book a Table</a>
            
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p> <span>Our Story</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6 position-relative about-img" style="background-image: url(assets/img/abo.jpg) ;" data-aos="fade-up" data-aos-delay="150">
            
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Founded with a vision to redefine dining in Addis Ababa, BookBite is the brainchild of a team of food enthusiasts, dedicated to celebrating the diverse flavors of 
                Ethiopian cuisine while offering unmatched convenience and hospitality. Drawing inspiration from the bustling streets of Addis Ababa and the warmth of Ethiopian hospitality,
                 we set out to create a space where friends and families could gather to savor delicious meals and create lasting memories. </p>
             
              <p>
               At BookBite, we take pride in showcasing the best of Ethiopian culinary traditions, with a contemporary twist. From traditional injera platters to modern interpretations of classic 
               dishes, our menu is a celebration of the diverse flavors and textures that make Ethiopian cuisine so unique. Using only the finest locally sourced ingredients and time-honored cooking techniques, 
               our talented chefs craft each dish with care, ensuring a culinary experience that delights the senses and nourishes the soul.              </p>
         
                          <p> We understand that your time is precious, which is why we've implemented a state-of-the-art reservation system to make dining at BookBite as seamless as possible. 
                          With just a few clicks, you can reserve a table for your desired date and time, ensuring that your dining experience is tailored to your preferences. Whether you're planning a romantic dinner for 
                          two or a gathering with friends, our reservation system puts you in control, allowing you to focus on what truly matters enjoying great food and great company.</p>
                          </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Why Choose BookBite?</h3>
              <p>
                Whether you're celebrating a special occasion, enjoying a casual meal with friends, or simply craving delicious Ethiopian cuisine, BookBite offers the perfect setting for every occasion.
                Our cozy yet elegant ambiance provides the ideal backdrop for memorable dining experiences, making us the go-to destination for locals and visitors alike.
              </p>
           
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-center">
            <div class="row gy-4">

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Authentic Ethiopian Cuisine</h4>
                  <p>At BookBite, we take pride in offering authentic Ethiopian cuisine that stays true to its roots while also embracing modern culinary trends. </p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Seamless Reservation System</h4>
                  <p>We understand the importance of convenience when it comes to dining out, which is why we've implemented a user-friendly reservation system</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4>Impeccable Service and Hospitality</h4>
                  <p>From the moment you step through our doors, you'll be greeted with warmth and hospitality by our dedicated staff</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Stats Counter Section ======= -->
   
    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Menu</h2>
          <p>Check Our <span>Yummy Menu</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4>Ethiopian Dishes</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
              <h4>Main Courses</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
              <h4>Our Favorites</h4>
            </a>
          </li><!-- End tab nav item -->

         
        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Ethiopian Dishes</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="assets/img/menu/gri.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Grilled Chicken</h4>
                              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-0.jpg" class="glightbox"><img src="assets/img/menu/menu-item-0.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Sekla Tebse</h4>
                             </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-3.jpg" class="glightbox"><img src="assets/img/menu/gga.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Beyaynet</h4>
                              </div><!-- Menu Item -->

              

            </div>
          </div>

          <div class="tab-pane fade" id="menu-breakfast">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Main Courses</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="assets/img/menu/sta.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Staffed Chicken</h4>
                              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-2.png" class="glightbox"><img src="assets/img/menu/rav.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Ravioli Spinach Ricotta</h4>
                              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/ima.jpg" class="glightbox"><img src="assets/img/menu/ima.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Enjera Bewot​</h4>
                             </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-4.png" class="glightbox"><img src="assets/img/menu/grilni.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Grilled Nile Perch</h4>
                             </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-5.png" class="glightbox"><img src="assets/img/menu/staffch.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Staffed Chicken</h4>
                              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-6.png" class="glightbox"><img src="assets/img/menu/stir.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Stir Fried Chicken Pasta</h4>
                              </div><!-- Menu Item -->

            </div>
          </div>

          <div class="tab-pane fade" id="menu-lunch">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Our Favorites</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="assets/img/menu/s1.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Special Combo</h4>
                              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-2.png" class="glightbox"><img src="assets/img/menu/s2.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Fish Mulmul</h4>
                              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-3.png" class="glightbox"><img src="assets/img/menu/sss.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Grilled Nile Perch</h4>
                              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-4.png" class="glightbox"><img src="assets/img/menu/s4.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Ravioli Spinach Ricotta</h4>
                              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/menu-item-5.png" class="glightbox"><img src="assets/img/menu/s5.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Tenderloin Steak</h4>
                              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="assets/img/menu/s6.jpeg" class="glightbox"><img src="assets/img/menu/s6.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Grilled Sirloin Steak​</h4>
                              </div><!-- Menu Item -->

            </div>
          </div>

         
        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Events Section ======= -->

    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Chefs</h2>
          <p>Our <span>Proffesional</span> Chefs</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Selamawit Tadesse</h4>
                <span>Master Chef</span>
                <p>With a passion for preserving and innovating Ethiopian cuisine, Chef Selamawit "Selam" Tadesse brings a wealth of culinary expertise to BookBite. Born and raised in Addis Ababa, Chef Selam developed a deep appreciation for the flavors and traditions of Ethiopian cuisine from a young age.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Kaleb Beyene</h4>
                <span>Patissier</span>
                <p>A master of the grill and a true culinary artist, Chef Kaleb Beyene brings his passion for bold flavors and meticulous craftsmanship to the kitchen at BookBite. With over a decade of experience in the restaurant industry, Chef Kaleb has earned a reputation for his expertly grilled meats and inventive flavor combinations.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Cook</span>
                <p>With a background in pastry arts and a flair for creativity, Chef Mahlet Assefa brings a touch of sweetness to the savory delights of Ethiopian cuisine at BookBite. Trained in both traditional and modern pastry techniques, Chef Mahlet's desserts are a celebration of flavor, texture, and artistry.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

        </div>

      </div>
    </section><!-- End Chefs Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Book A Table</h2>
          <p>Book <span>Your meal</span> With Us</p>
         
            <h5>
              Total number of tables :
              <code>{{ totalNumberOfSitsAvailable }}</code>
            </h5>
            <h5>
              Available number of tables :
              <code> {{ numberOfReservedTable }} </code>
            </h5>
          
        </div>

        <div class="row g-0">

          <div class="col-lg-4 reservation-img" style="background-image: url(assets/img/reservation.jpg);" data-aos="zoom-out" data-aos-delay="200"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
            <form [formGroup]="reservationForm" (ngSubmit)="submitForm()" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                 
                  <input
            class="form-control form-control-lg"
            type="text"
            placeholder="Your Name"
            formControlName="fullName"
            id="fullName"
            name="fullName"
            [ngClass]="{
              'is-invalid': submitted && controls['fullName'].errors
            }"
          />
                  <div class="validate"><div
                    class="invalid-feedback"
                    *ngIf="submitted && controls['fullName'].errors"
                  >
                    <span *ngIf="controls['fullName'].errors['required']">
                      Full name is required
                    </span>
                    <span *ngIf="controls['fullName'].errors['minlength']">
                      Full name is must >=3 Charactrers
                    </span>
                    <span *ngIf="controls['fullName'].errors['pattern']">
                      Full name is must A to Z or a to z
                    </span>
                  </div></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input
              class="form-control form-control-lg"
              placeholder="Your Email"
              type="email"
              formControlName="email"
              id="email"
              name="email"
              [ngClass]="{
                'is-invalid': submitted && controls['email'].errors
              }"
            />
                  <div class="validate">
                    <div
              class="invalid-feedback"
              *ngIf="submitted && controls['email'].errors"
            >
              <span *ngIf="controls['email'].errors['email']">
                Email is must be valid!
              </span>
            </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input
              class="form-control form-control-lg"
              type="tel"
              placeholder="Your Phone"
              formControlName="phone"
              id="phone"
              name="phone"
              [ngClass]="{
                'is-invalid': submitted && controls['phone'].errors
              }"
            />
                  <div class="validate">
                    <div
              class="invalid-feedback"
              *ngIf="submitted && controls['phone'].errors"
            >
              <span *ngIf="controls['phone'].errors['required']">
                Phone number is required!
              </span>
              <span *ngIf="controls['phone'].errors['pattern']">
                Phone number is must be valid!
              </span>
            </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input
                  class="form-control form-control-lg"
                  type="date"
                  formControlName="date"
                  placeholder="MM/DD/YYYY"
                  id="date"
                  name="date"
                  [min]="currentDate"
                  (change)="calculateDateOfReservedTable()"
                  [ngClass]="{
                    'is-invalid': submitted && controls['date'].errors
                  }"
                />
                                  <div class="validate"> <div
              class="invalid-feedback"
              *ngIf="submitted && controls['date'].errors"
            >
              <span *ngIf="controls['date'].errors['required']">
                Date is required!
              </span>
            </div></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input
                  class="form-control form-control-lg"
                  type="time"
                  formControlName="time"
                  placeholder="HH:MM"
                  id="time"
                  name="time"
                  [ngClass]="{
                    'is-invalid': submitted && controls['time'].errors
                  }"
                />
                  <div class="validate">
                    <div
                    class="invalid-feedback"
                    *ngIf="submitted && controls['time'].errors"
                  >
                    <span *ngIf="controls['time'].errors['required']">
                      Time is required!
                    </span>
                    <span *ngIf="controls['time'].hasError('invalidTime')">
                      Time must be between 11:00 AM and 11:30 PM.!
                    </span>
                  </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input
                  class="form-control form-control-lg"
                  type="number"
                  formControlName="numberOfPeople"
                  id="numberOfPeople"
                  name="numberOfPeople"
                  min="2"
                  [max]="numberOfReservedTable"
                  [ngClass]="{
                    'is-invalid': submitted && controls['numberOfPeople'].errors
                  }"
                />                  <div class="validate">
                  <div
              class="invalid-feedback"
              *ngIf="submitted && controls['numberOfPeople'].errors"
            >
              <span *ngIf="controls['numberOfPeople'].errors['required']">
                Number of people is required!
              </span>
              <span *ngIf="controls['numberOfPeople'].errors['min']">
                Number of people is not lessthan 2!
              </span>
              <span *ngIf="controls['numberOfPeople'].errors['max']">
                Number of people is not greaterthan {{ numberOfReservedTable }}!
              </span>
            </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <select
              formControlName="occasion"
              class="form-select form-select-lg"
              id="occasion"
              name="occasion"
              [ngClass]="{
                'is-invalid': submitted && controls['occasion'].errors
              }"
            >
              <option value="">Select Occasion</option>
              <option value="Birthday">Birthday</option>
              <option value="Anniversary">Anniversary</option>
              <option value="Engagement">Engagement</option>
              <option value="Graduation">Graduation</option>
              <option value="Farewell">Farewell</option>
              <option value="Other Special Event">Other Special Event</option>
            </select>
                              <div class="validate">
                                <div
                                class="invalid-feedback"
                                *ngIf="submitted && controls['time'].errors"
                              >
                                <span *ngIf="controls['time'].errors['required']">
                                  Occasion is required!
                                </span>
                              </div>
                </div>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea
                class="form-control form-control-lg"
                formControlName="message"
                id="message"
                name="message"
                placeholder="Message"
                rows="2"
              ></textarea>
                <div class="validate"></div>
              </div>
              
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
              </div>
              <div class="text-center">
                <button type="submit">
                  Book Reservation
                </button></div>
            </form>
          </div><!-- End Reservation Form -->

        </div>

      </div>
    </section><!-- End Book A Table Section -->

    <!-- ======= Gallery Section ======= -->
  
<!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>

        <div class="mb-3">
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15763.410287488614!2d38.789159749999996!3d8.985710749999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2set!4v1712168306250!5m2!1sen!2set" frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-map flex-shrink-0"></i>
              <div>
                <h3>Our Address</h3>
                <p>Bole Street, Addis Ababa, AA 259822</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>contact@bookbite.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+251913258121</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Opening Hours</h3>
                <div><strong>Mon-Sat:</strong> 11AM - 23PM;
                  <strong>Sunday:</strong> Closed
                </div>
              </div>
            </div>
          </div><!-- End Info Item -->
          <div class="d-flex align-items-center reservation-form-bg">
            <form [formGroup]="reservationForm2" (ngSubmit)="submitForm2()" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                 
                  <input
            class="form-control form-control-lg"
            type="text"
            placeholder="Your Name"
            formControlName="fullName"
            id="fullName"
            name="fullName"
            [ngClass]="{
              'is-invalid': submitted && controls['fullName'].errors
            }"
          />
                  <div class="validate"><div
                    class="invalid-feedback"
                    *ngIf="submitted && controls['fullName'].errors"
                  >
                    <span *ngIf="controls['fullName'].errors['required']">
                      Full name is required
                    </span>
                    <span *ngIf="controls['fullName'].errors['minlength']">
                      Full name is must >=3 Charactrers
                    </span>
                    <span *ngIf="controls['fullName'].errors['pattern']">
                      Full name is must A to Z or a to z
                    </span>
                  </div></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input
              class="form-control form-control-lg"
              placeholder="Your Email"
              type="email"
              formControlName="email"
              id="email"
              name="email"
              [ngClass]="{
                'is-invalid': submitted && controls['email'].errors
              }"
            />
                  <div class="validate">
                    <div
              class="invalid-feedback"
              *ngIf="submitted && controls['email'].errors"
            >
              <span *ngIf="controls['email'].errors['email']">
                Email is must be valid!
              </span>
            </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input
              class="form-control form-control-lg"
              type="tel"
              placeholder="Your Phone"
              formControlName="phone"
              id="phone"
              name="phone"
              [ngClass]="{
                'is-invalid': submitted && controls['phone'].errors
              }"
            />
                  <div class="validate">
                    <div
              class="invalid-feedback"
              *ngIf="submitted && controls['phone'].errors"
            >
              <span *ngIf="controls['phone'].errors['required']">
                Phone number is required!
              </span>
              <span *ngIf="controls['phone'].errors['pattern']">
                Phone number is must be valid!
              </span>
            </div>
                  </div>
                </div>
          
               
                
                
              </div>
              <div class="form-group mt-3">
                <textarea
                class="form-control form-control-lg"
                formControlName="message"
                id="message"
                name="message"
                placeholder="Message"
                rows="2"
              ></textarea>
                <div class="validate"></div>
              </div>
              
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
              </div>
              <div class="text-center">
                <button type="submit">
                  Send Your Message
                </button></div>
            </form>
          </div>
        </div>

        

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Address</h4>
            <p>
              Bole Street,
 <br>
 Addis Ababa, AA 259822
 <br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Reservations</h4>
            <p>
              <strong>Phone:</strong> +251913258121<br>
              <strong>Email:</strong> contact@bookbite.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Mon-Sat: 11AM</strong> - 23PM<br>
              Sunday: Closed
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a class="twitter"><i class="bi bi-twitter"></i></a>
            <a  class="facebook"><i class="bi bi-facebook"></i></a>
            <a  class="instagram"><i class="bi bi-instagram"></i></a>
            <a    class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>BookBite</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a >FItsum kebede</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 

</body>

