<nz-card nzBorderless style="width: 100%" >
  <nz-card-tab>
    <nz-tabset
      [(nzSelectedIndex)]="activeTabIndex"
      (nzSelectedIndexChange)="onTabChange($event)"
    >
      <nz-tab *ngFor="let tab of dates" [nzTitle]="tab">
        <nz-table
          #filterTable
          [nzData]="listOfData"
          nzTableLayout="fixed"
          [nzPageSize]="10"
          nzBordered
          nzSize="small"
          [nzScroll]="{ x: '1200px', y: '300px' }"
        >
          <thead>
            <tr>
              <th nzLeft>Name</th>
              <th>Phone</th>
              <th>email</th>
              <th>Message</th>
              <th nzRight nzAlign="center">Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of filterTable.data">
              <tr>
                <ng-container>
                  <td>
                    <strong>{{ data.fullName }}</strong>
                  </td>
                  <td>{{ data.phone }}</td>
                  <td>{{ data.email }}</td>
                  <td>{{ data.message }}</td>
                 
              
                  <td nzRight nzAlign="center">
                   
                    <button
                      nz-button
                      nz-popconfirm
                      nzDanger
                      nzPopconfirmTitle="Sure to delete {{ data.fullName }}?"
                      (nzOnConfirm)="deleteData(data.id)"
                    >
                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                  </td>
                </ng-container>
            
              </tr>
       
            </ng-container>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-card-tab>
</nz-card>

